// colors
$body-background: rgba(255, 254, 251, 0.8);
$basic-white: #ffffff;
$basic-black: #3f3f3f;
$secondary-black: #49485e;
$basic-grey: #b4b4b4;
$basic-green: #7bae73;
$secondary-grey: #eeeeee;
$light-grey: #fffefb;
$basic-pink: #ff8484;
$basic-blue: #0078bb;
$pearl: #fffefb;

//shadows
$shadow-primary: 0px 20px 30px rgba(0, 0, 0, 0.04),
  0px 6px 10px rgba(0, 0, 0, 0.02);
$shadow-controls: 0px 2px 5px rgba(0, 0, 0, 0.1);
$shadow-hover: 0px 2px 5px rgb(0 0 0 / 17%);

//radius

$radius: 4px;
$radius-button: 10px;

// breakpoints
$tablet-width: 640px;
$desktop-width: 1200px;
$mobile-width-only: 639px;

//fonts

$font-family: 'Source Sans Pro', Arial, sans-serif;
