// colors
$basic-white: #ffffff;
$basic-black: #000000;
$basic-blue: #0078bb;
$light-blue: #62b9ea;
$dark-blue: #0a6ea6;
$basic-grey: #808080;

//shadows
$shadow-primary: 0px 20px 30px rgba(0, 0, 0, 0.04),
  0px 6px 10px rgba(0, 0, 0, 0.02);

// breakpoints
$tablet-width: 640px;
$desktop-width: 1200px;
$mobile-width-only: 639px;

//fonts

$PT-Sans: 'PT Sans', 'Arial', sans-serif;
$PT-Sans-Narrow: 'PT Sans Narrow', 'Arial', sans-serif;
